extends layout

block content

    h4= menu_info.name

    h5= message

    h5 creating a item

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input.form-control(type='text' aria-label='name' placeholder='the name' name='name' required='true' value=(undefined===item ? '' : item.name) )
        div.form-group
            label(for='price') Price:
            //- currency formatting from https://codepen.io/559wade/pen/LRzEjj?editors=1000
            input.form-control(type='text' aria-label='price' pattern=`^\\$\\d{1,3}(,\\d{3})*(\\.\\d+)?$` placeholder='$5.00' name='price' required='true' value=(undefined===item ? '' : item.price) data-type="currency")
        div.form-group
            label(for='address') Description:
            input.form-control(type='text' aria-label='description' placeholder='describe it' name='description' value=(undefined===item ? '' : item.description) )
        button.btn.btn-outline-success(type='submit' value='submit') Create

    script(defer="" src="/javascript/formatCurrency.js")