extends layout

block content

    h4= user_info.username

    h5= message

    h5 creating a restaurant

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input.form-control(type='text', placeholder='its name' name='name' required='true' value=(undefined===restaurant ? '' : restaurant.name) )
        div.form-group
            label(for='address') Address:
            input.form-control(type='text', placeholder='its address' name='address' required='true' value=(undefined===restaurant? '' : restaurant.address) )
        div.form-group
            label(for='phone') Phone:
            input.form-control(type='text', placeholder='its phone number' name='number' required='true' value=(undefined===restaurant? '' : restaurant.number) )
        button.btn.btn-outline-success(type='submit') Create