extends layout

block content

    h1= title

    fieldset
        form(method='POST' action='')
            div.form-group
                label(for='email') Email:
                input.form-control(type='text' placeholder='e.g. you@sushi.com' name='email' required='true' value=(undefined===email ? '' : user.email) )
            div.form-group
                label(for='username') Username:
                input.form-control(type='text' placeholder='e.g. you@sushi.com' name='email' required='true' value=(undefined===username? '' : user.username) )
            div.form-group
                label(for='password') Password:
                inputform-control(type='password' placeholder='' name='password' required='true' value='' )
            div.form-group
                label(for='confirm-password') Confirm Password:
                inputform-control(type='password' placeholder='' name='password' required='true' value='' )
            div.form-group
                button.btn.btn-outline-secondary(type='submit' value='register') Register