extends layout

block content

    h4= user_info.username

    h5= message

    h5 creating a restaurant

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input.form-control(type='text' aria-label='name' placeholder='its name' name='name' required='true' value=(undefined===restaurant ? '' : restaurant.name) )
        div.form-group
            label(for='cuisine') Cuisine:
            input.form-control(type='text' aria-label='cuisine' placeholder='the cuisine' name='cuisine' required='true' value=(undefined===restaurant ? '' : restaurant.cuisine) )
        div.form-group
            label(for='street') Street:
            input.form-control(type='text' aria-label='street' placeholder='e.g. 123 Main St' name='street' required='true' value=(undefined===restaurant ? '' : restaurant.street) )
        div.form-group
            label(for='city') City:
            input.form-control(type='text' aria-label='city' placeholder='the city' name='city' required='true' value=(undefined===restaurant? '' : restaurant.city) )
        div.form-group
            label(for='state') State:
            input.form-control(type='text' aria-label='state' placeholder='the state' name='state' required='true' value=(undefined===restaurant? '' : restaurant.state) )
        div.form-group
            label(for='zip') Zip:
            input.form-control(type='text' aria-label='zip' placeholder='the zip code' name='zip' required='true' value=(undefined===restaurant? '' : restaurant.zip) )
        div.form-group
            label(for='phone') Phone (with area code):
            input.form-control(type='text', aria-label='phone' pattern="^(\\({1})(\\d{3})(\\){1})( {1})(\\d{3})(-{1})(\\d{4})$" placeholder="(XXX) XXX-XXXX" name='number' required='true' value=(undefined===restaurant_info ? '' : restaurant_info.number) data-type="phone")
        button.btn.btn-outline-success(type='submit' value='create') Create

    script(defer="" src="/javascript/formatPhoneNumber.js")