extends layout

block content

    h3= title

    fieldset
        form(method='POST' action='')
            div.form-group
                label(for='email') Email:
                input.form-control(type='email' aria-label='email' placeholder='e.g. you@sushi.com' name='email' required='true' value='')
            div.form-group
                label(for='username') Username:
                input.form-control(type='text' aria-label='username' placeholder='' name='username' required='true' value='')
            div.form-group
                label(for='password') Password:
                input#password.form-control(type='password' aria-label='password' placeholder='' name='password' required='true' value='')
            div.form-group
                label(for='confirm-password') Confirm Password:
                input#password-confirm.form-control(type='password' aria-label='confirm password' placeholder='' name='password' required='true' value='')
            div.form-group
                button#submit.btn.btn-outline-secondary(type='submit' value='register') Register
    script.
        let p1 = document.querySelector('#password');
        let p2 = document.querySelector('#password-confirm');
        let submit = document.querySelector('#submit');
        submit.disabled = true;
        p2.oninput = function() {
        if(!p1.value || !p2.value || (p1.value !== p2.value)) {
        submit.disabled = true;
        submit.textContent = `Check Your Passwords`;
        }
        else {
        submit.disabled = false;
        submit.textContent = `Register`;
        }
        }