extends layout

block content

    h4= restaurant_info.name

    h5= message

    h5 editing a menu

    p
        a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/delete') Remove

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input.form-control(type='text', placeholder=menu_info.name name='name' required='true' value=(undefined===menu_info ? '' : menu_info.name) )
        button.btn.btn-outline-success(type='submit') Update