doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/style.css')
        //- link(type='text/css', href='/css/style.css')

    body(class="index-page-body")
        //- Bootstrap navbar from https://getbootstrap.com/docs/4.0/components/navbar/
        div(class='container-fluid') 
            nav(class='navbar navbar-expand-sm navbar-light')
                a(class='navbar-brand' href='/')
                    //- favicon from https://favicon.io/emoji-favicons/steaming-bowl/
                    img(src="/image/favicon.png" alt="menu venue icon" width="50" height="50" class="d-inline-block align-left" style="margin-right: 10px")
                    p(style="display: inline-block") Menu Venue
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                   span(class="navbar-toggler-icon")
                div(class='collapse navbar-collapse' id='navbarSupportedContent')
                    ul(class='navbar-nav ml-auto')
                        li(class='nav-item')
                            a(class='nav-link' href='/') Search 
                                span(class="sr-only") (current)
                        li(class='nav-item')
                            a(class='nav-link' href='/restaurant/all') All
                        li(class='nav-item')
                        if session.username
                            li(class="nav-item")
                                a(class="nav-link" href="/user") Manage
                            li(class="nav-item")
                                a(class="nav-link" href="/logout") Logout
                        else
                            li(class='nav-item')
                                a(class='nav-link' href='/login') Login

            div(class='container-fluid')
                br
                block content

block content
    fieldset
        form(method='POST' action='' class="form-horizontal")
            div(class="form-row flex-nowrap justify-content-md-center align-items-center main_searchbar")
                label(for='name') Find
                div(class="col-xs-5")
                        input.form-control(type='text' aria-label="search" placeholder='sushi, burgers, pubs, bars, ...' name='search' value=(undefined===restaurant ? '' : restaurant.name) )
                label(for='location') Near
                div(class="col-xs-5")
                        input.form-control(type='text' aria-label="search" placeholder='city or zip code' name='location' value=(undefined===restaurant ? '' : restaurant.name) )
                div(class="col-xs-2")
                    button.btn.btn-primary.btn-success-outline(type='submit' value='Find Restaurants') Search