extends layout

block content
    h1= title
        p Welcome

    if error
        p Error getting dynamic content.
    else
        p mysql has the following record counts:

    ul
        li #[strong Restaurants:] !{data.restaurant_count}
        li #[strong Items:] !{data.items}

    block search
        fieldset
            form(method='POST' action='')
                div.form-group
                    label(for='name') Restaurant:
                    input#first_name.form-control(type='text' placeholder='e.g. Sushi Hanna' name='name' required='true' value=(undefined===restaurant ? '' : restaurant.name) )
                div.form-group
                    label(for='address') Address:
                    input#first_name.form-control(type='text' placeholder='e.g. 123 main street' name='address' required='true' value=(undefined===address? '' : restaurant.address) )
                div.form-group
                    button.btn.btn-success-outline(type='submit' value='Find Restaurants') Submit

