extends layout

block content

    fieldset
        form(method='POST' action='')
            div.form-group
                label(for='name') Restaurant:
                input#name.form-control(type='text' placeholder='e.g. Sushi Hana' name='name' value=(undefined===restaurant ? '' : restaurant.name) )
            div.form-group
                button.btn.btn-secondary.btn-success-outline(type='submit' value='Find Restaurants') Search

    div(class='container-fluid')
        div(class='row bg-light')
            div(class='col-sm-6')

                block restaurant_content

            div(class='col-sm-6')

                p Google Maps API ?