<!-- from: https://codeburst.io/build-a-weather-website-in-30-minutes-with-node-js-express-openweather-a317f904897b -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Menu Venue</title>
  </head>
  <body>
    <h3>Menu Venue</h3>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input
            name="address"
            type="text"
            class="ghost-button"
            placeholder="Enter an address, city, or zip code."
            style="width: 300px;"
          />
          <br />
          <input type="submit" class="ghost-button" value="Find Menus" />
        </form>
      </fieldset>
    </div>
  </body>
</html>
