doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        //- Bootstrap navbar from https://getbootstrap.com/docs/4.0/components/navbar/
        div(class='container-fluid') 
            nav(class='navbar navbar-expand-sm navbar-light bg-light')
                a(class='navbar-brand' href='/') Menu Venue
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                   span(class="navbar-toggler-icon")
                div(class='collapse navbar-collapse' id='navbarSupportedContent')
                    ul(class='navbar-nav mr-auto')
                        li(class='nav-item')
                            a(class='nav-link' href='/') Home 
                                span(class="sr-only") (current)
                        li(class='nav-item')
                            a(class='nav-link' href='/restaurant/all') All
                        li(class='nav-item')
                            a(class='nav-link' href='/user') Login

            div(class='container-fluid')
                br
                block content
