extends layout

block content

    h1= title

    fieldset
        form(method='POST' action='')
            div.form-group
                label(for='username') Username:
                input.form-control(type='text' placeholder='' name='username' required='true' value=(undefined===username ? '' : user.username) )
            div.form-group
                label(for='password') Password:
                input.form-control(type='password' placeholder='' name='password' required='true' value='' )
            div.form-group
                button.btn.btn-outline-secondary(type='submit' value='Login') Login

    a(href="/register") Sign up