<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="flex-container">
      <fieldset>
        <form action="/login" method="POST">
          <h3 class="flex-item">Restaurant Login</h3>
          <input class="flex-item field" 
            type="text" 
            name="username"
            placeholder="Username" />
          <input class="flex-item field" 
            type="text" 
            name="password"
            placeholder="Password" />
          <input 
            type="submit"
            class="button"
            value="Login">
        </form>
      </fieldset>
    </div>
    <br />
    <div class="flex-container">
      <fieldset>
        <form action="/register" method="POST">
          <h3 class="flex-item">New Restaurant Registeration</h3>
          <input class="flex-item field" 
            type="text" 
            id="username"
            name="username"
            placeholder="Username" />
          <input class="flex-item field" 
            type="password" 
            id="password"
            name="password"
            placeholder="Password" required/>
          <input 
            type="submit"
            class="button"
            value="Register">
        </form>
      </fieldset>
    </div>
  </body>
</html>
