extends layout

block content

    h1= title

    fieldset
        form(method='POST' action='')
            div.form-group
                label(for='username') Username:
                input#first_name.form-control(type='text' placeholder='e.g. you@sushi.com' name='email' required='true' value=(undefined===email ? '' : user.email) )
            div.form-group
                label(for='password') Password:
                input#first_name.form-control(type='password' placeholder='' name='password' required='true' value='' )
            div.form-group
                button.btn.btn-outline-secondary(type='submit' value='Login') Login

    a(href="/user/register") Sign up