extends layout

block content

    h3= title

    fieldset
        legend
            form(method='POST' action='')
                div.form-group(name="login")
                    label(for='username') Username:
                    input.form-control(type='text' aria-label='username' placeholder='' name='username' required='true' value='')
                div.form-group
                    label(for='password') Password:
                    input.form-control(type='password' aria-label='password' placeholder='' name='password' required='true' value='')
                div.form-group
                    button.btn.btn-outline-secondary(type='submit' value='Login') Login

    a(href="/register") Register