extends index

block restaurant_list_content

    dl
        each menu in menus 
            dt #{menu.name}

        else
            p This restaurant has no menus.

    block restaurant_menu_items_content