extends restaurant

block restaurant_content

  h4= menu_info.name

  dl
    each item in item_list
      dt #{item.name}
      dd #{item.description}

    else
      p This menu has no items.
