extends restaurant_menu

block restaurant_menu_items_content

    dl
      each item in item_list
        dt #{item.name}
        dd #{item.description}

      else
        p This menu has no items.