extends index

block content

    h4= restaurant_info.name

    dl
        each menu in menu_list 
            dt 
                a(href='/restaurant/'+restaurant_info.username+'/menu/'+menu.id) #{menu.name}

        else
            p This restaurant has no menus.
