extends index

block restaurant_list_content

    h4= restaurant_info.name

    dl
        each menu in menu_list 
            dt 
                a(href=menu.url) #{menu.name}

        else
            p This restaurant has no menus.

    block restaurant_menu_items_content