extends index

block content

    h4= restaurant_info.name

    each menu in menu_list 
        p 
            a(href='/restaurant/'+restaurant_info.name+'/menu/'+menu.name) #{menu.name}

    else
        p This restaurant has no menus.
