extends layout

block content

    h1(class="heading")= restaurant_info.name
    br

    each menu in menu_list 
        h4 
            a(href='/restaurant/'+restaurant_info.name+'/menu/'+menu.name) #{menu.name}

    else
        p This restaurant has no menus.
