extends layout

block content

  p 
    a(href='/user') &lt; Back

  h4(class="user-heading")= restaurant_info.name


  each menu in menu_list
    p 
      a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu.name) #{menu.name}
    p 
      a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu.name+'/update') update menu

    hr

  else
    p You have no menus.
  
  p
    a(href='/user/restaurant/'+restaurant_info.name+'/menu/create') create menu
