extends user_restaurant_menu

block user_restaurant_menu_item_content

    dl
      each item in menu
        dt #{item.name}
        dd #{item.description}

      else
        p You have no menu items.

    a(href="#") create item