extends layout

block content

  p 
    a(href='/user/restaurant/'+restaurant_info.name) &lt; Back

  h1(class="user-heading")= menu_info.name
  
  p
    a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/create') Create an item
  hr

  div.menu-container
    each item in menu
      div.menu-item
        p #{item.name}
        p #{item.price}
        p #{item.description}
        p 
          a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/'+item.name+'/update') Update this item 

    else
      p You have no items.

