extends user

block user_restaurant_content

  h4= user_info.email

  ul
    each restaurant in restaurant_list
      ul
        li 
          a(href=restaurant.url) #{restaurant.name}
        li #{restaurant.address}
      hr  

    else
      li You have no restaurants.

    a(href="") create restaurant

    block user_restaurant_menu_content