extends layout

block content

  h4= user_info.username

    dl
      each restaurant in restaurant_list
        dt 
          a(href='/user/'+user_info.username+'/restaurant/'+restaurant.id+'/menu/all') #{restaurant.name}
          dd #{restaurant.address}
          dd 
            a(href='/user/'+user_info.username+'/restaurant/'+restaurant.id+'/update') update restaurant

        hr  

      else
        dt You have no restaurants.

      p
        a(href='/user/'+user_info.username+'/restaurant/create') create restaurant

