extends layout

block content

  h4= restaurant_info.name

    dl
      each menu in menu_list
        dt 
          a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.id+'/menu/'+menu.id) #{menu.name}
        dd
          a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.id+'/menu/'+menu.id+'/update') update menu

      else
        p You have no menus.
      
      p
        a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.id+'/menu/create') create menu
