extends layout

block content

  h4= menu_info.name

  each item in menu
    p #{item.name}
    p #{item.price}
    p #{item.description}
    p 
      a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/'+item.name+'/update') update item 

    hr

  else
    p You have no items.

  a(href='/user/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/create') create item
