extends layout

block content

  h4= menu.name

    dl
      each item in menu
        dt #{item.name}
        dd #{item.price}
        dd #{item.description}
        dd
          a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/'+item.name+'/update') update item 

      else
        p You have no items.

      a(href='/user/'+user_info.username+'/restaurant/'+restaurant_info.name+'/menu/'+menu_info.name+'/item/create') create item
