* {
  font-family: Helvetica;
}

body {
  /* background-image: url("/image/circle-blues.png"); */
  background-color: white;
}

/* restaurant listing */
div.scroll {
  width: 100%;
  height: 800px;
  scrollbar-color: #ffa65d #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 20px;
}

/* restaurant listing items */
div.scroll > * {
  margin: 10px;
}

/* google maps */
#map {
  height: 800px;
  width: 100%; /* The width is the width of the container*/
  padding: 20px;
}

/* lists things horizontally */
div.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .menu-category-header {
  display: flex;
  justify-content: center;
} */

/* children elements that are listed horizontally */
div.menu-item {
  min-width: 200px;
  min-height: 100px;
  margin: 10px;
  padding: 30px;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.center-heading {
  text-align: center;
}

/* to make the share button appear right-most */
.share-btn-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.shared-list {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

/* greyed out textfield on shared item */
.url {
  text-align: center;
}

/*
 *
 * Landing page (index.pug) code below
 *
 */
.index-page-body {
  /* color: white; */
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url("/image/background/bg-sushi.jpg");
  background-size: 1920px 1080px;
}

.nav-link {
  color: black !important;
}

.index-nav-link {
  color: white !important;
}

.index-brand {
  font-size: 40px;
}

/* .main-searchbar-form { */
  /* justify-content: space-between; */
/* } */

.main-searchbar-content > label {
  font-size: 20px;
  font-weight: bold;
}

.main-searchbar-item {
  margin-left: 5px;
  max-width: 350px;
}
